*{
border: 0px;
margin: 0px;
padding: 0px;
list-style-type: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
outline: none;
}

/*aside, section{display: block;}*/


@media only screen and (min-width: 100px){
	section{margin-left:0%;}
	#dashboard_panel{position:relative;clear:both;display: none;}
	#nav-menu{display:inline-block;}
	.lone_container{margin-left:0%;padding: 10%;}
	#logbox, #regbox{padding: 0% 0%;}
}
@media only screen and (min-width: 320px){
	#logbox, #regbox{padding: 14% 14%;}
}
@media only screen and (min-width: 768px){
	section{margin-left:23%;float: left;}
	#dashboard_panel{position:fixed;bottom:0px; top:60px;display: block;}
	#nav-menu{display:none;}
}
@media only screen and (min-width: 992px){
	section{margin-left:16%;}
	.lone_container{padding: 10% 24%;}
	#logbox{padding: 5% 30%;}
	#regbox{padding: 5% 30%;}
}
@media only screen and (min-width: 1120px){
}

header{
	display: block;
	position: fixed;
	left: 0px;
	right:0px;
	top:0px;
	height:60px;
	/*background:#01bef0;*/
	background:#fff;
	z-index: 1000;
	box-shadow: 0 1px 0px gainsboro;
}
#dashboard{
	margin-top: 60px;
}
#dashboard_panel{
	/*position:fixed;*/
	background:#333;
	color:#fff;
	min-height:500px;
	padding:2px;
	height: 100%;
}

li{
	padding: 16px;
	border-bottom: 1px groove rgba(0,0,0,0.2);
}
aside li{
	font-size:16px;
}
li a{
	display: block;
	width: inherit;
	height: inherit;
}
li:hover{
	background-color: rgba(200,200,200,0.1);
}
aside li:hover{
	background-color: rgba(100,100,100,0.2);
}
/*a{color:#fff;}*/
a:link, a:active, a:visited, a:hover{
	color:inherit;
	text-decoration: none;
}
input, button, select, textarea{
	width:100%;
	outline: 1px solid #f0f0f0;
	padding: 5px;
}
input, button, select{
	height: 40px;
	margin:5px;
}
option{
	padding:5px;
}
textarea{
	margin:5px;
	height:60px;
}
table{
	width:100%;
}
#profile_div input{
	outline:0px; background:#fff;
}
#profile_div img{
	outline:1px;
	background:url(../images/icon0.png) center;
	width:70px;
	height:70px;
	border-radius: 3px;

}
.card{
	box-shadow: 1px 1px 1px gainsboro;background: #fff;cursor:pointer;
}
header span{
	float:right;color:#fff;display: inline-block;height: 100%;overflow: clip; margin-left: 1px;
}
header span a{
	display: block;
	width: inherit;
	height: inherit;
	background-color: #333;
	padding:18px;
}
/*.navbar.hero .navbar-nav > li > a{color:yellow;}*/
#nav-menu{
	float:right;color:#000;padding:15px;cursor:pointer;
}
.lone_elements{
	padding: 20px; /*border: 1px solid #f0f0f0;*/ min-height: 350px;box-shadow: 0px 0px 5px 0px #e7e7e7;background: #fff
}
#footer{z-index: 1000;position: absolute; width:100%;margin-top: 100px;bottom:0px; padding: 10px;/*background:#fcfcfc;*/ background: rgb(180,180,180) }
.mif-pencil{cursor:pointer;}

.myProgress {
  position: relative;
  width: 100px;
  height: 20px;
  background-color: #ddd;
}

.myBar {
  position: absolute;
  width: 0.5%;
  height: 100%;
  background-color: #4CAF50;
}