		<div class="row header">
				<div class="col-md-12">
					<h3>FREQUENTLY ASKED QUESTIONS</h3><hr>
				</div>
			</div>
			<div class="row" style="font-size:18px;">
			<div class="col-sm-12" >
				<div class="col-sm-6">
					<div class=" ">
						<div>
						<b>	How does the system work?</b><br>
							It's very simple. Our system is comprised of a 4x3 matrix system that helps teams support projects perculiar to them. When you join you'd need to upgrade to Ruby, then you're eligible to get support. All payments are made member to member, and upgrade is continuous until the Gold. On getting to Gold, you can decide to discontinue, or apply for a golden badge, which qualifies you for project 12Million.
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="">
						<div>
						<b>What is a member to member payment system?</b><br>
							A member to member payment system is a system that enables members of your team pay you directly. When you get a referral, the new member will pay you directly. Basically you will receive 100% of the payment, no admin or middleman holding any funds.
						</div>
					</div>
				</div>
				</div>
				<div class="col-sm-12" style="margin-top:25px">
				<div class="col-sm-6">
					<div class=" ">
						<div>
						<b>	Only the people at the top earn the big bucks, right?</b><br>
							WRONG! In a member forced matrix, the member who joined last, can fill his/her levels through their own advertising efforts a LOT faster than those that are simply waiting for spillover!
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="">
						<div>
						<b>Can I skip Ruby and upgrade to Platinum or Gold?</b><br>
							No. You cannot skip levels. Our system is designed in such a way that all member must pass through every level before getting to the 5million mark. The system is built through team work and a drive to achieve purpose, therefore each level is an opportunity to network and inspire one another.
						</div>
					</div>
				</div>
				</div>
				<div class="col-sm-12" style="margin-top:25px">
				<div class="col-sm-6">
					<div class=" ">
						<div>
						<b>	How do I make my payment?</b><br>
							You can make you payment through direct bank channels using the account details provided by your Collaborator. Other channels of payment are also accepted if they're convenient for you and your collaborator. 
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="">
						<div>
						<b>Do I have to build a team in order to earn?</b><br>
							No. You don't have to build your team (you however need a team), as the system makes it possible for people to automatically join you (aka spillover) when they register, or manually when they are interested in your project. However, by relying on spillovers only, it may take a long time to build up your team and start getting support.
						</div>
					</div>
				</div>
				</div>
				<div class="col-sm-12" style="margin-top:25px">
				<div class="col-sm-6">
					<div class=" ">
						<div>
						<b>	Can I Refer More Than 4 members?</b><br>
							Yes! You could invite any number of new members and they will be placed in your team.
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="">
						<div>
						<b>Can I have more than one account?</b><br>
							It is up to you. More account may mean more financial committment for you, and may slow down the process. Its up to you reall, however you cannot have more than one account with similar details; the system is designed to checkmate that. 
						</div>
					</div>
				</div>
				</div>
				<div class="col-sm-12" style="margin-top:25px">
				<div class="col-sm-6">
					<div class="">
						<div>
						<b>	Why has my account been deleted?</b><br>
							This could be because are ready to upgrade to the next level but have not in the last 48hours; You may have been reported for spamming, invalid/multiple transaction Id for several accounts, or your account was temporary blocked due to inactivity.
Kindly contact admin if you think there has been misunderstanding or error!

						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="">
						<div>
						<b>Do you give refunds?</b><br>
							Your membership is NON-REFUNDABLE. We believe you were interested in and committed to your sponsors project before joining his team, and since your money is paid directly by your to members of your team, we are not liable to refund you. 
						</div>
					</div>
				</div>
				<div class="col-sm-12" style="margin-top:25px">
				<div class="col-sm-6">
					<div class="">
						<div>
						<b>I have paid into my upline account but he denied receiving payment and refuse to confirm my payment.</b><br>
							It is advisable to pay into your upline account so that on issues like this you will be ask to upload your details of payment so that the admin can verify such claims. If we find him/she guilty, his/her account will be blocked without notification.
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="">
						<div>
						<b>I submitted my payment but no one has confirmed yet, what should I do?</b><br>
							Please allow up to 24 hours for your team sponsor to approve your payment, or try to contact them immediately. If for some reason days pass, please contact admin immediately. Also, we have an auto approve system just in case admin is not reachable. It will take 48 hours after you have submitted your transaction details for the system to approve you automatically. But we are always around, this shouldn't be a problem. 
						</div>
					</div>
				</div>
				</div>
				<div class="col-sm-12" style="margin-top:25px">
				<div class="col-sm-6">
					<div class=" ">
						<div>
						<b>	Is my personal information protected with your company?</b><br>
							Any personal information that you provide to us is protected. Your information will never be shared or sold to anyone!
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<p style="padding: 10% "><a href="register.php"><button class="btn btn-info" style="width:250px; height: auto; padding:15px;font-size: 18px;">Continue to Register</button></a></p>
	