<div style="font-size: 18px;">
<h3>TERMS OF AGREEMENT</h3><hr>
<p>Project5m.org is fundraising platform where people help others achieve their most pressing project. This is achieved by financial contributions and continuous collaboration with one another. <br>
People on Project5m understand that “little drops of cash make mighty achievements”, and are as such willing to freely and consciously offer their own contributions (both financially and otherwise) to help others achieve their projects, as well as theirs.</p>
<p>By contributing to peoples’ projects, you may or may not have a project of your own for which you need finance, but you understand that collaboration and contribution are needful for development, and have made a personal decision (and at your discretion) to enrol in this program (Project5m). </p>
<p>At no time will Project5m be held liable for situations when persons’ feel they do not have projects they need to finance, or that they do not need any finance for their project, and as such do not want to enrol in this program.</p> 
<p>By enrolling in Project5m, you agree that you were not coerced, forced or cajoled to do so, and that you have done so to help someone who needs to finance his/her project, or you yourself have a pressing project that needs finance.</p>
<p style="padding: 10% "><a href="register.php"><button class="btn btn-info" style="width:250px; height: auto; padding:15px;font-size: 18px;">Continue to Register</button></a></p>
</div>
